form{
    background-color: lightgray;
    /* padding-left:8px;
    padding-top: 16px;
    padding-right: 8px;
    padding-bottom: 16px; */
    padding: 16px 8px 10px 0px;
}
.newline {
    display:block;
    margin-bottom: 4px;
}
#major{
    margin-bottom: 16px;
    width: 30%;
    background-color: bisque;
}
button{
    color: white;
    background-color: green;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}
button:hover{
    background-color: yellow;
    color: black;
}
