body{
    margin: 0;
}
#column{
    display: flex;
    flex-direction: row;
    padding: 2px 2px;
}
#black{
    background-color: black;
    color: white;
    padding: 10px ;
    margin: 0;
}
.border{
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
}