<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Register</title>
</head>

<body class="p-5">
    <div class="container d-flex justify-content-center mt-4">
        <div class="card form border container px-3 col-lg-8 shadow rounded-3">
            <div class="row">
                <div class="col-lg-7">
                    <div class="container">
                        <h1 class="text-center pt-3">Sign Up</h1>
                        <form action="" id="formRegister">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="py-1">Firstname</div>
                                    <input id="firstname" type="text" name="firstname" class="form-control shadow"
                                        placeholder="Firstname..."required>
                                </div>
                                <div class="col-lg-6">
                                    <div class="py-1">Lastname</div>
                                    <input id="lastname" type="text" name="lastname" class="form-control shadow"
                                        placeholder="Lastname..."required>
                                </div>
                            </div>
                            <div class="py-1">Username</div>
                            <input id="username" type="text" class="form-control shadow" name="username"
                                placeholder="Username..." required>
                            <div class="py-1">Password</div>
                            <input id="password" type="password" class="form-control shadow" name="password"
                                placeholder="Password..."required>
                            <div class="py-1">Confirm Password</div>
                            <input id="password2" type="password" name="password2" class="form-control shadow"
                                placeholder="Confirm Password..."required>
                            <div class="row mx-1">
                                <button id="btnsignin" class="btn btn-dark shadow mt-3 text-center">Sign Up</button>
                            </div>
                        </form>
                        <div class="text-end pt-3">
                            Already have an account? <a href="/" class="text-dark">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-flex align-items-center justify-content-center ps-5 pe-0 m-0">
                    <img src="/public/img/Login2.jpg" alt="Login2
                    " width="500px" height="470px" class="rounded-3 me-0">
                </div>
            </div>
        </div>
    </div>

    <script>
        const formregister = document.querySelector('#formRegister');
        formregister.onsubmit = async (e) => {
            e.preventDefault();
            const firstname = formregister['firstname'].value;
            const lastname = formregister['lastname'].value;
            const username = formregister['username'].value;
            const password = formregister['password'].value;
            const password2 = formregister['password2'].value;
            
            if (password === password2 ) {
                try {
                    const options = {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            "firstname": firstname,
                            "lastname": lastname,
                            "username": username,
                            "password": password
                        })
                    };
                    const response = await fetch("/Register1", options);
                    if (response.ok) {
                        const responseData = await response.text();
                        alert(responseData); 
                    } else {
                        throw new Error('Network response was not ok.');
                    }
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);

                }
            } else {
                alert('Passwords do not match.');
            }
        };
    </script>
</body>

</html>